################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LCR/.vs/LCR/v16/Server/sqlite3
